<ion-header>
  <ion-toolbar>
    <!-- Botón de volver -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Votar delegados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let candidate of candidates">
      <ion-label>
        <h2>{{ candidate.name }} {{ candidate.surname }}</h2>
      </ion-label>
      <ion-button color="primary" (click)="voteForCandidate(candidate.id)" [disabled]="getUserVoted()">
        Votar
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
