<ion-header>
  <ion-toolbar>
     <!-- Botón de volver -->
     <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Mis Notas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let subjectTitle of getSubjectTitles()">
      <ion-col size="12">
        <h3>{{ subjectTitle }}</h3> 
      </ion-col>
      <ion-col size="6" *ngFor="let convocatory of getConvocatories(subjectTitle)">
        <h4>{{ convocatory }}</h4>
        <ion-list>
          <ion-item *ngFor="let grade of grades[subjectTitle][convocatory]">
            <ion-label>{{ grade.nameMark }}: {{ grade.mark }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>