#modal-content {
    text-align: center;
    padding: 20px;
  }
  
  .nfc-icon {
    color: #3880ff;
    margin-bottom: 10px;
  }
  
  .nfc-message {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .countdown {
    font-size: 14px;
    font-weight: bold;
    color: #eb445a;
  }
  