Backend/src/main/resources/firebase-service-account.json
Backend/target/classes/firebase-service-account.json
Microservice/Notifications/src/main/resources/firebase-service-account.json
.DS_Store
Backend/src/main/java/com/example/.DS_Store
Backend/target/classes/com/example/.DS_Store
