Backend/src/main/resources/firebase-service-account.json
Backend/target/classes/firebase-service-account.json
Microservice/Notifications/src/main/resources/firebase-service-account.json
.DS_Store
Backend/src/main/java/com/example/.DS_Store
Backend/target/classes/com/example/.DS_Store
.DS_Store
Backend/.DS_Store
Backend/src/.DS_Store
Backend/src/main/.DS_Store
Backend/src/main/java/.DS_Store
Backend/src/main/java/com/.DS_Store
Backend/src/main/java/com/example/.DS_Store
Backend/target/classes/.DS_Store
Backend/target/classes/com/.DS_Store
Backend/target/classes/com/example/.DS_Store
Backend/target/classes/.DS_Store
Backend/target/classes/com/.DS_Store
Backend/target/classes/com/example/.DS_Store
Moodle/.DS_Store
Moodle/local/.DS_Store
Moodle/local/myplugin/.DS_Store
