<ion-header>
  <ion-toolbar>
    <!-- Botón de volver -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Calendar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="month-container">
      <ion-col *ngFor="let month of months">
        <ion-card>
          <ion-card-title class="card-header">{{ month.name }}</ion-card-title>
          <ion-card-content>
            <div class="weekdays">
              <span *ngFor="let day of weekdays">{{ day }}</span>
            </div>
            <div class="days">
              <span 
                *ngFor="let day of month.days"
                [ngStyle]="{
                  'grid-column-start': getDayOfWeek(day) === 0 ? 7 : getDayOfWeek(day),
                  'background-color': applyCustomColor(day)
                }"
                [class.current-day]="isToday(day)"
                [class.weekend]="isWeekend(day)"
                [class.week]="!isWeekend(day) && !isFestive(day)"
              >
                {{ day.getDate() }}
              </span>
            </div>
            <!-- Sección para mostrar fiestas locales -->
            <div class="local-festives" *ngIf="hasLocalFestives(month)">
              <div *ngFor="let localFestive of getLocalFestives(month)">
                <span class="local-festive">{{ localFestive.local }}: {{ localFestive.day }} de {{ month.name }}</span>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
