<ion-header>
    <ion-toolbar>
        <!-- Botón de volver -->
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Horario Semanal</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Lista en vista de tarjetas para cada día -->
    <div class="schedule-list">
        <ion-list *ngFor="let day of days">
            <ion-item>
                <ion-label>
                    <h2>{{ day }}</h2>
                </ion-label>
            </ion-item>
            <ng-container *ngIf="getSubjectsForDay(day).length > 0; else emptyDay">
                <ion-card *ngFor="let schedule of getSubjectsForDay(day)">
                    <ion-card-header>
                        <ion-card-title>{{ schedule.title }}</ion-card-title>
                        <ion-card-subtitle>{{ schedule.startHour }}:00 - {{ schedule.endHour }}:00</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                        {{ schedule.classRoom }}
                    </ion-card-content>
                </ion-card>
            </ng-container>
            <ng-template #emptyDay>
                <ion-item>
                    <ion-label>No hay asignaturas para este día</ion-label>
                </ion-item>
            </ng-template>
        </ion-list>
    </div>
</ion-content>
