<ion-content class="container">
  <ion-grid *ngIf="!tieneReserva; else reservaActiva"> 
    <ion-row>
      <ion-col size="12" size-md="4" [class.faded]="!pistaActiva" [class.active]="pistaActiva">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ tituloPista }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button expand="block" fill="outline" (click)="activarCalendario('Tenis (Alcorcón)')"> 
              Pista de tenis (Alcorcón) 
            </ion-button>
            <ion-button expand="block" fill="outline" (click)="activarCalendario('Baloncesto (Móstoles)')">
              Pista de baloncesto (Móstoles)
            </ion-button>
            <ion-button expand="block" fill="outline" (click)="activarCalendario('Fútbol (Móstoles)')">
              Pista de fútbol (Móstoles)
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="4" [class.faded]="!calendarioActivo" [class.active]="calendarioActivo">
        <div *ngIf="month"> 
          <ion-card>
            <ion-card-title class="card-header">{{ month.name }}</ion-card-title>
            <ion-card-content>
              <div class="weekdays">
                <span *ngFor="let day of weekdays">{{ day }}</span>
              </div>
              <div class="days">
                <span 
                  *ngFor="let day of month.days"
                  [ngStyle]="{
                    'grid-column-start': getDayOfWeek(day) === 0 ? 7 : getDayOfWeek(day),
                    'background-color': applyCustomColor(day)
                  }"
                  [class.current-day]="isToday(day)"
                  [class.weekend]="isPreviousDay(day)"
                  [class.week]="!isPreviousDay(day) && !isFestive(day)"
                  (click)="activarHoras(day)" 
                >
                  {{ day.getDate() }}
                </span>
              </div>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
      <ion-col size="12" size-md="4" [class.faded]="!horasActivo" [class.active]="horasActivo">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Selección de horas {{continuacion}} </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="hour-buttons">
              <ion-button 
                *ngFor="let hour of horas"  (click)="reservar(hour)"
              >
                {{ hour }}:00 - {{ hour + 2 }}:00 
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row> 
  </ion-grid>

  <ng-template #reservaActiva>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Reserva Activa</ion-card-title>
      </ion-card-header>
      <ion-card-content *ngIf="reservation"> 
        <p>Pista: {{ tituloPista }}</p> 
        <p>Fecha: {{ reservation.date | date:'dd/MM/yyyy HH:mm' }}</p> 
        <ion-button expand="block" fill="outline" (click)="cancelarReserva()">Cancelar Reserva</ion-button>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>