/* Estilos generales para el calendario */
  
  /* Estilos para los días de la semana */
  .weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: bold;
    text-align: center;
  }

  .month-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch; /* Asegura que las alturas sean iguales */
  }

  ion-card {
    height: 100%; /* Para que las tarjetas ocupen toda la altura de la columna */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  ion-card-content {
    flex-grow: 1;
  }

  
  /* Estilos para los días del mes */
  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  .card-header {
    justify-content: center;
    margin-top: 2%;
    text-align: center;
  }
  
  .days span {
    text-align: center;
    padding: 5px;
    //border: 1px solid #ddd;
    margin: 5px;
  }
  
  /* Estilo para el día actual */


 

  .week {
    background-color: #FEF445;
  }

  .weekend {
    background-color: #E6E6E6;
  }

  .current-day {
    border-radius: 30%; /* Esto convierte el elemento en un círculo */
    
  }

  .local-festives {
    margin-top: 10px;
    font-size: 0.9em;
    color: red;
  }
  
  .local-festive {
    display: block;
    margin: 2px 0;
  }

  .container {
    columns: 3;
  }

  .faded {
    opacity: 0.5; /* Opacidad inicial */
    pointer-events: none; /* Deshabilita la interacción */
  }
  
  .active {
    opacity: 1; /* Opacidad cuando está activo */
    pointer-events: auto; /* Habilita la interacción */
  }

  .left-col, .center-col, .right-col {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
  }
  
  body {
    min-width: 600px;
  }
  
