<ion-content class="container">
  <ion-grid>
    <ion-row class="month-container">
      <ion-col size="12" size-md="4"> 
        <div *ngIf="month"> 
          <ion-card>
            <ion-card-title class="card-header">{{ month.name }}</ion-card-title>
            <ion-card-content>
              <div class="weekdays">
                <span *ngFor="let day of weekdays">{{ day }}</span>
              </div>
              <div class="days">
                <span 
                  *ngFor="let day of month.days"
                  [ngStyle]="{
                    'grid-column-start': getDayOfWeek(day) === 0 ? 7 : getDayOfWeek(day),
                    'background-color': applyCustomColor(day)
                  }"
                  [class.current-day]="isToday(day)"
                  [class.weekend]="isWeekend(day)"
                  [class.week]="!isWeekend(day) && !isFestive(day)"
                >
                  {{ day.getDate() }}
                </span>
              </div>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
      <ion-col size="12" size-md="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Segunda columna</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Este es el contenido de la segunda columna. Puedes añadir aquí el texto, imágenes o cualquier otro elemento que necesites.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Tercera columna</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Este es el contenido de la tercera columna. Aquí puedes poner más información o elementos relacionados con tu aplicación.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>