<ion-list>
  <ion-card *ngFor="let notification of notifications">
    <ion-card-header>
      <ion-card-title>
        Nueva nota en {{ notification.notifications.subjectId.title }}
        <!-- Bola roja para notificaciones nuevas -->
        <span 
          *ngIf="notification.nuevo" 
          style="display: inline-block; width: 10px; height: 10px; background-color: red; border-radius: 50%; margin-left: 10px;">
        </span>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Se ha evaluado: {{ notification.notifications.nameMark }} con una nota de 
        <b>{{ notification.notifications.mark }}</b>. 
        Convocatoria: {{ notification.notifications.convocatory }}
      </p>
    </ion-card-content>
  </ion-card>
</ion-list>

<ion-list>
  <ion-card *ngFor="let notification of dbNotifications">
    <ion-card-header>
      <ion-card-title>{{ notification.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ notification.description }}
    </ion-card-content>
  </ion-card>
</ion-list>
