<ion-card *ngFor="let attendance of attendances">
  <ion-card-header>
    <ion-card-title>
      {{ attendance.subject.title }} - {{ attendance.dateTime | date: 'shortDate' }}
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p><strong>Código:</strong> {{ attendance.code }}</p>
    <p *ngIf="isTeacher()">
      <strong>Tiempo restante:</strong>
      <span *ngIf="getTimeRemaining(attendance.dateTime) > 0; else expired">
        {{ getTimeRemaining(attendance.dateTime) | date:'mm:ss':'UTC' }}
      </span>
      <ng-template #expired>Expirado</ng-template>
    </p>
    <div class="button-container">
      <ion-button expand="block" (click)="toggleUsers(attendance)">
        {{ showUsers[attendance.code] ? 'Mostrar menos' : 'Mostrar más' }}
      </ion-button>
      <ion-button expand="block" (click)="addTimeToAttendance(attendance.id)" color="success">
        Aumentar tiempo
      </ion-button>
    </div>
    <ion-list *ngIf="showUsers[attendance.code]">
      <ion-item *ngFor="let userAttendance of attendance.usersPresent">
        {{ userAttendance.user.name }} {{ userAttendance.user.surname1 }}: {{ userAttendance.user.dni }}
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
