<ion-header>
  <ion-toolbar>
    <!-- Botón de volver -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Reserva de cancha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="loading" class="loading">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Cargando reservas...</p>
  </div>

  <ion-list *ngIf="!loading && reservations.length > 0">
    <ion-item *ngFor="let reservation of reservations">
      <ion-label>
        <h2>ID Reserva: {{ reservation.sportReservationId }}</h2>
        <h2>ID Usuario: {{ reservation.studentId.id }}</h2>
        <p>DNI Estudiante: {{ reservation.studentId.dni }}</p>
        <p>Fecha: {{ reservation.date | date:'dd/MM/yyyy HH:mm' }}</p>
        <p>Pista: {{ traducirPista(reservation.pista) }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <div *ngIf="!loading && reservations.length === 0" class="no-reservations">
    <p>No hay reservas disponibles.</p>
  </div>
</ion-content>